<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container d-flex justify-content-center">
        <div class="card mt-5">
            <div class="card-header">
                <h1>Pergunte algo:</h1>
            </div>
            <div class="card-body">
                <form class="form form-group" method="POST" action="/saveask">
                    <input type="text" placeholder="Título" name="titulo">
                    <textarea class="form-control" placeholder="O que você quer perguntar?" name="descricao"></textarea>
                    <button class="btn btn-outline-dark btn-sm col-xs-2 mt-3">Enviar</button>
                </form>
            </div>
        </div> 
    </div>
</body>
<%- include('partials/footer.ejs') %>
