@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #15141B !important;
}

h1 {
  color: #484385;
  margin-bottom: 5px;
  padding-bottom: 30px;
}

h3 {
  color: #484385;
}

h2 {
  color: #3d3c4d;
}

a {
  color: rgb(131, 129, 158) !important;
}

a:hover {
  color: #9b95e7 !important;
}

p {
  color: #808080;
}

.navbar-dark {
  background: #2a2935 !important;
}

.card {
  background: #1b1a22 !important;
  border: 1px dotted #4c495f !important;
}

.card-header {
  background: #1b1a22 !important;
  border-bottom: 1px dotted #4c495f !important;
}

form input {
  color: #000;
  width: 300px;
  height: 50px;
}

.form input {
  margin-bottom: 1.5em;
  text-align: center;
}

.form-control {
  box-shadow: none !important;
  text-align:center;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  background: #ffffff !important; 
  max-width: 500px;
  min-height: 80px;
  max-height: 90px;
  color: #6660be !important;
}

textarea:focus {
  border-color: #3e3a74 !important;
  outline: 0 none;
}

button {
  margin-bottom: 1.5em !important;
}

.btn-outline-dark:hover {
  background: #7c78b9 !important;
}

.btn-outline-dark {
  border: 1px solid #3e3a74 !important;
  background: #2c2952 !important;
  color: #fff !important;
}
